<div class="card-header">
    <h5 class="textoRegular">Project Omega</h5>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active textoRegular" aria-current="page" href="#">Project Summary</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link textoRegular" href="#">Documentation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link textoRegular" href="#">Links </a>
                </li>
                
              </ul>    
        </div>
    </div>
</div>
<div class="card-footer">
  
</div>
