<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <img src="" alt="Project Image" style="padding-top:5%">
    </div>
    <div class="col-md-4">
      <H4 style="padding-top:5%">Project Description:</H4>
      <br>
      <p>Creating a Web App with C#, .Net Core, Angular and Azure Services.</p>
    </div>
    <div class="col-md-5">
      <H4 style="padding-top:5%">Technology Stack:</H4>
      <br>
      <li>C#</li>
      <li>TypeScript</li>
      <li>.Net Core</li>
      <li>Azure Services</li>
      <br>
      <button class="btn-success" [routerLink]="['/project-detail-view']">View</button>
    </div>
  </div>
</div>