<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <b class="textoRegular">Project Omega</b>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <h6 class="textoRegular">Project Description</h6>
          <br>
          <p class="textoRegular">Creating a Web App with C#, .Net Core, Angular and Azure Services.</p>
        </div>
      </div>
      <div class="card-footer textoRegular ">
        <button class="ViewProjectBtn btn btn-light"  [routerLink]="['/project-detail-view']" >View Project</button>
      </div>    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <b class="textoRegular">Project Beta</b>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <h6 class="textoRegular">Project Description</h6>
          <br>
          <p class="textoRegular">Creating a Web App with C#, .Net Core, Angular and Azure Services.</p>
        </div>
      </div>
      <div class="card-footer textoRegular "><button class="ViewProjectBtn btn btn-light"  [routerLink]="['/project-detail-view']" >View Project</button></div>    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <b class="textoRegular">Project Gama</b>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <h6 class="textoRegular">Project Description</h6>
          <br>
          <p class="textoRegular">Creating a Web App with C#, .Net Core, Angular and Azure Services.</p>
        </div>
      </div>
      <div class="card-footer textoRegular "><button class="ViewProjectBtn btn btn-light"  [routerLink]="['/project-detail-view']" >View Project</button></div>    </div>
  </div>
</div>
<br>


